@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

html,
body {
    margin: 0 auto;
    padding: 0;
    font-size: 12px;
    background-color: #00a323;
}

.App {
    padding: 0.25rem;
    text-align: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 64px;
    padding: 1.25rem;
}